button{
    width: 7%;
    padding-top: 3%;
    padding-bottom: 3%;
}

*{
    background-color: black;
    color: white;
}

#start{
    padding-top: 15%;
    text-align: center;
}

.load{

    float: left;
}
#bar{
    width: 20%;
    font-size: larger;
}
#barStart{
    width: 40%;
    text-align: end;
}
#barEnd{
    width: 40%;
    text-align: start;
}
